* {
  margin: 0px;
  padding: 0px;
}

.header {
  width: 100%;
  height: 42px;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: row;
}

.car {
  margin: 12px auto auto 50px;
  border: 1.4px solid #191919;
}

.p {
  color: #626262;
  font-family: "Poppins";
  margin: 12px 0 auto 10px;
  font-size: 12px;

  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.p1 {
  color: #626262;
  margin: 12px 0 auto 10px;
}

.p2 {
  color: #626262;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 12px 0 auto 10px;
}

.p3 {
  color: #626262;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 12px 0 auto 950px;
}

.p4 {
  color: #626262;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 12px 0 auto 30px;
}

.p5 {
  color: #626262;
  margin: 8px 0 auto 10px;
  width: 4.5px;
  height: 7.6px;
  flex-shrink: 0;
}
